:root {
    --background: rgb(121, 118, 118);
    --scorebody: rgb(159, 159, 159);
    --debughitbox: rgba(115, 166, 230, 0.73);
}
@font-face { font-family: pixelfont; src: url('assets/PressStart2P.ttf'); }
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

#player {
    position: absolute;
    z-index: 0;
}
.projectile {
    position: absolute;
    z-index: 0;
}

.hitmark {
    position: absolute;
    z-index: 2;
}

.asteroid {
    position: absolute;
    z-index: 1;
}

.asteroidscorebox {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.asteroidscorebox p {
    color: white;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 5px black;
}

.explosion {
    position: absolute;
    z-index: 1;
}

.powerup {
    position: absolute;
    z-index: 1;
}

.shiphpicon {
    position: absolute;
    width: 32px;
    height: 28px;
    z-index: 4;
}

#scorelabel {
    display: none;
    top: 5px;
    right: 10px;
    color: white;
    font-size: 20pt;
    z-index: 4;
    position: absolute;
    text-shadow: black 0 0 10px;
}

#shiphpbox {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 4;
}

#planethpbox {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 4;
}

#pausebutton {
    position: absolute;
    top: 10px;
    left: 10px;
}

#loadingoverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100);
}

#loadingicon {
    scale: 5;
    z-index: 6;
}

#restartoverlay {
    position: absolute;
    bottom: 300px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    z-index: 4;
}

#restartlabel {
    text-align: center;
    color: white;
    font-size: 20pt;
    text-shadow: black 3px 3px 3px;
}

.circularbutton {
    scale: 1;
    width: 60px;
    height: 60px;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40%;
    cursor: pointer;
}

#helppart {
    display: block;
    image-rendering: pixelated;
    width: auto;
    height: auto;
}

#helpbutton {
    top: 10px;
    left: 10px;
    transition: scale 0.2s;
    transition-delay: 0.2s;
    z-index: 0;

    position: absolute;
    cursor: help;
}

#helppart:hover .helptext {
    visibility: visible;
    transition: opacity 0.2s;
    transition-delay: 0.1s;
    opacity: 1;
}

#helppart:hover #helpbutton {
    transition: scale 0.2s;
    scale: 1.2;
}

.helptext {
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.25s;
    transition-delay: 0.1s;
    background-color: white;
    width: 300px;
    height: auto;
    padding: 15px;
    left: 10px;
    top: 78px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    font-weight: 450;
    font-size: 18pt;
    border-radius: 30px;
    line-height: 28px;
}


.helpimg {
    vertical-align: middle;
    scale: 2;
    padding: 0 10px;
}

.helphpimg {
    vertical-align: middle;
    scale: 1.25;
    padding: 0 10px;
}

.helpprojimg {
    vertical-align: middle;
    scale: 1.5;
    padding: 0 10px;
}

#pausescreen {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    backdrop-filter: blur(5px);
}

#startgamelabel {
    text-align: center;
    top: 375px;
    width: 100%;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    z-index: 4;
}

#gamespace {
    font-family: pixelfont, serif;
    background-image: url("assets/spacebackground.png");
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 900px;
    image-rendering: pixelated;
    scale: 1;
}

@media (max-width : 1449px) {
    body {
        height: 1000px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #neptun {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    #scoretablebox {
        position: absolute;
        right: 10px;
        top: 1000px;
    }

    #soundsliderbox {
        position: absolute;
        justify-content: center;
        width: 100%;
    }

}

@media (min-width: 1450px) {
    #neptun {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #scoretablebox {
        position: absolute;
        right: 10px;
        top: 140px;
    }

    #soundsliderbox {
        width: auto;
        position: absolute;
        top: 90px;
        right: 20px;
    }

}

.debughitbox {
    border-radius: 50%;
    position: absolute;
    background-color: var(--debughitbox);
    z-index: 4;
}

#soundsliderbox {
    height: auto;
    display: flex;
    align-items: center;
    image-rendering: pixelated;
}

#soundsliderlabel {
    display: none;
}

.soundslider {
    color: white;
    width: 200px;
}

#soundicon {
    scale: 1;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

#scoreinfo {
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    z-index: 4;
    color: white;
}

#nameinput {
    text-align: center;
    font-size: 12pt;
    width: 200px;
}

#savescoresystem {
    position: absolute;
    top: 100px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    z-index: 4;
}

#neptun {
    color: white;
    font-weight: 450;
    font-size: 16pt;
}

#scoretablebox {
    color: white;
    height: auto;
}

#scoretableheader th {
    background-color: rgb(81, 81, 81);
    font-size: 16pt;
}

#scoretable {
    border-collapse: collapse;
    background-color: var(--scorebody);
    border-radius: 10px;
}

#scoreboardlabel th{
    border-radius: 10px 10px 0 0;
    background-color: rgb(81, 81, 81);
    width: 400px;
    font-size: 20pt;
}

.namecol {
    border-right: 1px solid rgb(74, 74, 74);
}

#scoreplaceholder td{
    border: none;
}

#scoretable td {
    padding-left: 20px;
    border-top: 1px solid rgb(74, 74, 74);
}
