* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(121, 118, 118);
}

#player {
    position: absolute;
    z-index: 0;
}
.projectile {
    position: absolute;
    z-index: 0;
}
.asteroid {
    position: absolute;
    z-index: 1;
}
.explosion {
    position: absolute;
    z-index: 1;
}

.shiphpicon {
    position: absolute;
    width: 32px;
    height: 28px;
    z-index: 4;
}

#shiphpbox {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 4;
}

#planethpbox {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 4;
}

#pausebutton {
    top: 10px;
    left: 10px;
}

#restartlabel {
    position: absolute;
    z-index: 4;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    text-shadow: black 3px 3px 3px;
}

.circularbutton {
    width: 60px;
    height: 60px;
    z-index: 4;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40%;
    cursor: pointer;
}

#helppart {
    display: block;
    image-rendering: pixelated;
    width: auto;
    height: auto;
}

#helpbutton {
    top: 10px;
    left: 10px;
    transition: scale 0.1s;
    background-image: url("assets/helpbutton.png");
    z-index: 0;

    position: absolute;
    cursor: help;
}

#helppart:hover .helptext {
    visibility: visible;
    box-shadow: rgb(50,50,50) 10px 10px 20px;
}

#helppart:hover #helpbutton {
    transition: scale 0.1s;
    scale: 1.2;
}

.helptext {
    left: 10px;
    top: 78px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 300px;
    font-weight: 450;
    font-size: 16pt;
    border-radius: 30px;
    padding: 15px;
    line-height: 28px;
}


.helpimg {
    scale: 2;
    padding: 0 20px;
}

.helphpimg {
    scale: 1.25;
    padding: 0 10px;
}

.helpprojimg {
    scale: 1.5;
    padding: 0 10px;
}

#pausescreen {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(150, 150, 150, 0.2);
    backdrop-filter: blur(5px);
}

#scorelabel {
    right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    z-index: 4;
    position: absolute;
    text-shadow: black 3px 3px 3px;
}

#gamespace {
    background-image: url("assets/spacebackground.png");
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 900px;
    image-rendering: pixelated;
}

.debughitbox {
    border-radius: 50%;
    position: absolute;
    background-color: rgba(115, 166, 230, 0.73);
    z-index: 4;
}