* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(121, 118, 118);
}

#player {
    position: absolute;
}
.projectile {
    position: absolute;
}
.meteorite {
    position: absolute;
}

#gamespace {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    position: relative;
    background-color: #73a6e6;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 900px;
    image-rendering: pixelated;
}